# these are the default reviewers for all file types within this project.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more info on more complex configurations here...
*       @akado117 @cosmotek @alnguyen
